html {
  height: 100%;
}

body {
  background: rgb(206, 206, 206);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.centerDefault {
  background-color: white;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  padding: 1rem;
}

.centerButton {
  display: flex;
  justify-content: space-evenly;
  color: blue;
  background-color: lightgrey;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  max-width: 5rem;
}

.centerSimple {
  display: flex;
  justify-content: space-evenly;
}

.eventDefault {
  background-color: rgb(206, 206, 206);
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  padding: 1rem;
}

.eventEligible {
  background-color: rgba(84, 240, 63, 0.692);
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  padding: 1rem;
}

.eventEligibleText {
  background-color: rgba(84, 240, 63, 0.692);
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  text-align: center;
}

.eventIneligibleText {
  background-color: rgba(206, 206, 206);
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  text-align: center;
}

/* .evenSplit {
  display: flex;
  justify-content: space-evenly;
} */

.smallRecommend {
  display: flex;
  justify-content: space-evenly;
}

.searchForm {
  display: flex;
  justify-content: space-evenly;
}

.pageHeading {
  text-align: center;
  color: blue;
}

.loadingDefault {
  text-align: center;
}

.regularButton {
  text-align: center;
}

.regBtn:hover {
  color: blue;
}

.regBtn:active {
  background-color: rgb(189, 189, 255);
  border-radius: 5px;
  transform: translateY(3px);
}
